/*
	app.css
*/


body {
  padding-top: 60px;
}

label.checkbox-inline {
	font-size: 72pt;
}

.glyphicon-heart {
	color: #D9534F;	
}

.heart {
	background-color: #D9534F;
	border: solid 1px white;
}

.glyphicon-tree-deciduous {
	color: #5CB85C;
}

.tree {
	background-color: #5CB85C;
	border: solid 1px white;
}

.glyphicon-eye-open {
	color: #428BCA;
}

.eye {
	background-color: #428BCA;
	border: solid 1px white;
}

.glyphicon-leaf {
	color: #F0AD4E;
}

.leaf {
	background-color: #F0AD4E;
	border: solid 1px white;
}
