/*
	app.css
*/


body {
  padding-top: 60px;
}

label.checkbox-inline {
	font-size: 72pt;
	width: 100%;
}

.glyphicon-heart {
	color: #D9534F;	
}

.waveform {
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.big-rounded {
	border: solid 3px white;
	border-radius: 10px;	
}

.heart {
	background-color: #D9534F;
}

div.checked {
	border: solid 3px black;
}

.glyphicon-tree-deciduous {
	color: #5CB85C;
}

.tree {
	background-color: #5CB85C;
}

.glyphicon-eye-open {
	color: #428BCA;
}

.eye {
	background-color: #428BCA;
}

.glyphicon-leaf {
	color: #F0AD4E;
}

.leaf {
	background-color: #F0AD4E;
}

.biggest {
	font-size: 18pt;
}


/* DISABLE NAVBAR COLLAPSE */
/* http://stackoverflow.com/questions/23535289/bootstrap-3-disable-navbar-collapse */

.navbar-brand {
	padding: 15px 35px;
}

.navbar-collapse.collapse {
	display: block!important;
}

.navbar-nav>li, .navbar-nav {
	float: left !important;
}

.navbar-right {
	float: right!important;
}
