/*
	app.css
*/


body {
  padding-top: 60px;
}

.glyphicon-heart {
	color: #D9534F;	
}

.soundbutton {
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 10px;	
	height: 130px;
	font-family: sans-serif;
	font-size: 18pt;
	color: white;
}

.soundbutton.playing[data-forward=true] {
	-moz-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1);
}

.playing {
	border: solid 3px black;
}

.notplaying {
	border: solid 3px white;
}

.heart {
	background-color: #D9534F;
}

.glyphicon-tree-deciduous {
	color: #5CB85C;
}

.tree {
	background-color: #5CB85C;
}

.glyphicon-eye-open {
	color: #428BCA;
}

.eye {
	background-color: #428BCA;
}

.glyphicon-leaf {
	color: #F0AD4E;
}

.leaf {
	background-color: #F0AD4E;
}

.biggest {
	font-size: 18pt;
}


/* DISABLE NAVBAR COLLAPSE */
/* http://stackoverflow.com/questions/23535289/bootstrap-3-disable-navbar-collapse */

.navbar-brand {
	padding: 15px 35px;
}

.navbar-collapse.collapse {
	display: block!important;
}

.navbar-nav>li, .navbar-nav {
	float: left !important;
}

.navbar-right {
	float: right!important;
}
